<main>
    <div class="form">
        <p class="form-info">Not registered?
            <a style="color: black" href="/api/register">Register now</a>
        </p>
        <form action="/api/login" method="POST">
            <label for="name">Email</label>
            <input type="text" id="email" name="email">
            <label for="name">Password</label>
            <textarea id="name" name="password"></textarea>
            <input type="submit" value="Login">
        </form>
    </div>
</main>