<main>
    <div class="form">
        <p class="form-info">Already registered?
            <a style="color: black" href="/api/login">Login now</a>
        </p>
        <form action="/api/register" method="POST">
            <label for="name">Email</label>
            <input type="text" id="email" name="email">
            <label for="name">Password</label>
            <textarea id="name" name="password"></textarea>
            <label for="name">Re-password</label>
            <input type="text" id="repassword" name="repassword">
            <input type="submit" value="Register">
        </form>
    </div>
</main>